
body {
  font-family: "Montserrat", sans-serif;
}

/*----- Background colors -----*/
.bg-primary-color {
  background-color: #007D6E;
}
.bg-secondary-color {
  background-color: #D9D9D9;
}

/*----- Text colors -----*/
.text-light-color {
  color: #E6F3F1 !important;
}
.text-dark-color {
  color: #616161;
}
.text-green-color {
  color:#02A28F;
}

/*----- Font sizes -----*/
.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-32 {
  font-size: 32px;
}

/*----- Heights -----*/
.h-200 {
  height: 200px;
}
.h-209 {
  height: 209px;
}

/*----- Widths -----*/
.w-170 {
  width: 170px;
}
.w-390 {
  width: 100%;
}
.max-w-450 {
  max-width: 450px;
}

/*----- Margin -----*/
.ms-n20 {
  margin-left: -20px;
}

/*----- Shadow -----*/
.shadow {
  box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}

/*----- Reset bootstrap navbar-toggler properties -----*/
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}

/*----- Media queries -----*/
@media (min-width:576px) {
  /* Font sizes */
  .fs-sm-14 {
    font-size: 14px;
  }
  .fs-sm-16 {
    font-size: 16px;
  }
  .fs-sm-20 {
    font-size: 20px;
  }
  .fs-sm-32 {
    font-size: 32px;
  }
  /* Height */
  .h-sm-350 {
    height: 350px
  }
  /* Widths */
  .w-sm-auto {
    width: auto;
  }
  .w-sm-85 {
    width: 85%;
  }
  .max-w-sm-700 {
    max-width: 700px;
  }

}

@media (min-width:992px) {
  .h-md-full {
    height: 100%;
  }
  .fs-md-20 {
    font-size: 20px;
  }
}

@media (max-width:992px) {
  .fullscreen-menu.offcanvas{
    width: 100% !important;
    background-color: #007D6E;
    color: white;
  }
}

@media (min-width:1200px) {
  .w-xl-80 {
    width: 80%;
  }
  .h-xl-full {
    height: 100% !important;
  }
}





